#navbar {
    height: 70px;

    padding-top: 7px;
    padding-left: 70px;
    padding-right: 70px;
}

.logo {
    object-fit: cover;
}

.title-1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;

    color: white;

    line-height: 1.5;
    margin-bottom: 1rem;
}

.fc-1 {
    color: RGB(107, 72, 71);
}

.fc-2 {
    color: RGB(191, 172, 158);
    font-weight: bolder;
}

.bg-1 {
    background-color: rgb(107, 72, 71);
}

.bg-2 {
    background-color: rgb(190, 171, 157)
}

.ad {
    position: relative;
    right: -1.0rem;
    top: 0.7rem;
    font-size: .76563rem;
    padding: 0.005rem 0.3rem 0.01rem 0.3rem;
}

.search {
    margin-left: 5%;
    margin-right: 5%;
}

.container {

    border: 1px solid rgb(200, 200, 200);
    margin-top: -3rem;
    margin-left: 5%;
    margin-bottom: 4rem;
    background-color: white;
    min-height: 200px;
    height: 100%;
    padding: 20px 20px 20px 20px;
    text-align: center;
    display: inline-block
}

.tb-bd-x {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}